@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
  --color-dark: #0F0F0F;
  --color-light: #F5F5F5;
  --color-primary-from: #5E2AFF;  /* indigo-500 */
  --color-primary-via: #190F82;   /* purple-500 */
  --color-primary-to: #269206;    /* green-500 */
}

body {
  font-family: 'Syne', sans-serif;
  background-color: var(--color-light);
}

/* Empêche les mots très longs de déborder */
.blog-content,
.blog-content p,
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content li,
.blog-content blockquote,
:global(.ql-editor)       /* côté éditeur : Quill */
{
  overflow-wrap: break-word; /* même effet que word-wrap: break-word */
  word-break: break-word;    /* coupe un mot si nécessaire */
  white-space: normal;       /* s’assure que le texte se renvoie à la ligne */
}



.bg-dark {
  background-color: var(--color-light);
}

.gradient-primary {
  background-image: linear-gradient(to right, var(--color-primary-from), var(--color-primary-via), var(--color-primary-to));
}

